		<section> 
			<h3>关于我</h3>
			<img class="block" src="{{site.baseurl}}/itec/images/avatar.jpg"  alt="A picture of chris" />
			<p>大家好，我是黄忠，一个热爱计算机技术的青年，凭着自己的兴趣和爱好学习计算机技术。同时也是个英语爱好者，凭着对英语的热爱和坚持，让我充满自信。为自己热爱技术和英语而自豪，并乐在其中。
			</p>
			
			<p> 你不知道你所不知道的，这就是为什么人是如此渺小。</p>
			<p> 带着微笑和热情，并坚持着那些希望和理想，那才是生命的意义。	</p>

			<h3>座右铭</h3>
			<p>
				昨夜西风凋碧树。独上高楼，望尽天涯路<br/>
				衣带渐宽终不悔，为伊消得人憔悴<br/>
				众里寻她千百度，蓦然回首，那人正在，灯火阑珊处。
			<p>

			<h3>联系方式</h3>
			<p> 
			<strong>QQ：</strong>512676058<br/> 
			<strong>LinkedIn：</strong>Chris Fire<br/>
			<strong>MSN：</strong>asiachris(@)live.cn<br/>
			<strong>E-mail：</strong>asiachrispy(@)gmail.com<br/>
			</p>

		</section>
