		<section> 
			<h3>关于我</h3>
			<img class="block" src="{{site.baseurl}}/images/avatar.jpg"  alt="A picture of chris" />
			<p>我是黄忠，热爱IT，热爱Coding，凭着自己的兴趣和爱好学习计算机技术。目前主要从事垂直爬虫，协同过滤，大数据处理工作；正海绵式通过论文来学习文本挖掘，自然语言处理，还有数学；研究并使用过搜索引擎，中文分词，分布式文件系统。

			</p>
		    <h3>智言</h3>	
			<p> 你不知道你所不知道的，这就是为什么人是如此渺小。</p>
			<p> 带着微笑和热情，并坚持着那些希望和理想，那才是生命的意义。	</p>

			<h3>联系方式</h3>
			<p> 
			<strong>QQ：</strong>512676058<br/> 
			<strong>LinkedIn：</strong>Chris Fire<br/>
			<strong>MSN：</strong>asiachris(@)live.cn<br/>
			<strong>E-mail：</strong>asiachrispy(@)gmail.com<br/>
			</p>

		</section>
