<section>
<!-- Feedsky FEED发布代码开始 -->
<!-- FEED自动发现标记开始 -->
<link rel="alternate" href="http://asiachrispy.github.com/tec/atom.xml" type="application/rss+xml" title="RSS 2.0">
<!-- FEED自动发现标记结束 -->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://asiachrispy.github.com/tec/atom.xml"><img vspace="2" border="0" style="margin-bottom:3px" alt="feedsky" src="http://img.feedsky.com/images/icon_sub_c1s17_d.gif"></a><br>

<a href="http://www.zhuaxia.com/add_channel.php?url=http://asiachrispy.github.com/tec/atom.xml"><img vspace="2" border="0" style="margin-bottom:3px" alt="抓虾" src="http://img.feedsky.com/images/icon_subshot01_zhuaxia.gif"></a>&nbsp;&nbsp;&nbsp;<a href="http://www.rojo.com/add-subscription?resource=http://asiachrispy.github.com/tec/atom.xml"><img vspace="2" border="0" style="margin-bottom:3px" alt="Rojo" src="http://img.feedsky.com/images/icon_subshot01_rojo.gif"></a><br>

<a href="http://fusion.google.com/add?feedurl=http://asiachrispy.github.com/tec/atom.xml"><img vspace="2" border="0" style="margin-bottom:3px" alt="google reader" src="http://img.feedsky.com/images/icon_subshot01_google.gif"></a>&nbsp;&nbsp;&nbsp;<a href="http://add.my.yahoo.com/rss?url=http://asiachrispy.github.com/tec/atom.xml"><img vspace="2" border="0" style="margin-bottom:3px" alt="my yahoo" src="http://img.feedsky.com/images/icon_subshot01_yahoo.gif"></a><br>

<a href="http://www.xianguo.com/subscribe.php?url=http://asiachrispy.github.com/tec/atom.xml"><img vspace="2" border="0" style="margin-bottom:3px" alt="鲜果" src="http://img.feedsky.com/images/icon_subshot01_xianguo.gif"></a>&nbsp;&nbsp;&nbsp;<a href="http://9.douban.com/reader/subscribe?url=http://asiachrispy.github.com/tec/atom.xml"><img vspace="2" border="0" style="margin-bottom:3px" alt="九点" src="http://img.feedsky.com/images/icon_subshot01_douban.gif"></a><br>
<!-- Feedsky FEED发布代码结束 -->
</section>
